.heading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-top: 2rem;
  color: black;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.heading-container span {
  display: inline-block;
  margin: 0 auto;
  height: 5px;
  background: #6200b8;
  width: 30px;
  border-radius: 20px;
}
