/* Home */
.home-container {
  display: flex;
  color: white;
  flex-direction: row;
  height: 100%;
  padding: 1rem;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.content-container {
  flex-direction: column;
  display: flex;
  padding: 1rem;
  margin-top: 8vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 90vh;
}

.welcome-content {
  color: gray;
  font-size: 0.65rem;
}

.main-heading {
  font-size: 3rem;
}

.skill-content {
  margin: 0.6rem 0;
  color: rgb(129, 129, 248);
  font-weight: 400;
  font-size: 1rem;
  text-shadow: 0px 1px 1px black;
  font-weight: 600;
  padding: 1rem;
}

.skill-animation {
  height: 60px;
  width: 100%;
  margin: 1rem 0;
}

.svg-container {
  margin-top: 1.5rem;
  width: 50vw;
  height: 36rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.svg {
  height: 90%;
}

.home-btn {
  margin-top: 1.5rem !important;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem 2rem;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin-top: 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.home-btn:hover {
  background-color: white;
  color: var(--primary-color);
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}

@media screen and (min-width: 950px) {
  .content-container {
    width: 50vw;
    height: 100%;
  }

  .svg-container {
    display: flex;
  }

  .welcome-content {
    font-size: 0.9rem;
  }

  .main-heading {
    font-size: 4rem;
  }

  .skill-content {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
  }

  .home-btn {
    padding: 0.9rem 2.2rem;
    font-size: 1rem;
  }
}
