:root {
  --primary-color: #14279b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: radial-gradient(at top left, rgb(0, 0, 0) 20%, #0a020ac0 160%);
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

.app-container {
  width: 100%;
  height: 100%;
}

/* Contact */
.contact-container {
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cards {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  box-shadow: 3px 2px 10px gray;
  border-radius: 20px;
  flex-direction: column;
  width: 16rem;
  height: 9rem;
  margin: 1rem;
  padding: 1.3rem 0;
}

.contact-icons {
  display: flex;
  align-items: center;
  width: 100%;
  height: 33.33%;
  text-align: center;
  justify-content: center;
}

.contact-text {
  display: flex;
  margin-top: 0.7rem;
  width: 100%;

  height: 33.33%;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

.contact-links {
  margin-top: 0.7rem;
  display: flex;
  font-size: 1rem;
  width: 90%;
  height: 33.33%;
  align-items: center;
  justify-content: center;
}

.contact-links > span {
  display: block;
}

.contact-links i {
  cursor: pointer;
  margin: 0.3rem;
  display: block;
  font-size: 1.3rem;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  padding: 0.1rem;

  user-select: none;
}

.contact-links a {
  text-decoration: none;
}

.contact-links i:hover {
  transform: scale(1.09);
}

.contact-links #github {
  color: rgba(0, 0, 0, 0.884);
}

.contact-links:hover #github {
  color: rgb(0, 0, 0);
}

.contact-links #facebook {
  color: rgba(28, 28, 231, 0.938);
}

.contact-links:hover #facebook {
  color: rgb(28, 28, 231);
}

.contact-links #instagram {
  color: rgba(214, 84, 45, 0.89);
}

.contact-links:hover #instagram {
  color: rgb(214, 84, 45);
}

.contact-links #linkedin {
  color: #3d8eb7ea;
}

.contact-links:hover #linkedin {
  color: #3d8eb7;
}

.contact-links #twitter {
  color: #00b7fff1;
}

.contact-links:hover #twitter {
  color: #00b7ff;
}

.contact-icons i {
  color: #f35166;
  cursor: pointer;
  font-size: 1.7rem;
  position: relative;
  user-select: none;
  transition: all 0.2s ease-in 0s;
}

/* Footer */
.footer-container {
  display: flex;
  color: black;
  font-size: 0.8rem;
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 8vh;
}

.footer-container a {
  text-decoration: none;
  font-weight: 200;
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  color: #6507a8;
  text-shadow: 1px 1px 1px black;
  transition: all 0.3s ease;
}

.footer-container a:hover {
  color: #060c02c5;
  text-shadow: 1px 1px 1px black;
}

.button:hover {
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}

.button {
  background-color: var(--primary-color);
  border: 1px solid transparent;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem 2rem;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin-top: 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

@media screen and (min-width: 950px) {
  .button {
    padding: 0.9rem 2.2rem;
    font-size: 1rem;
  }
}
