* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #fff;
  height: 100vh;
}

.main-container {
  width: 100%;
  height: 100%;
}

/* Nav */
.nav-container {
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: "Exo 2", sans-serif;
  display: flex;
  background: rgb(255 255 255 / 90%);
  flex-direction: row;
  padding: 1.2rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 9vh;
}

.nav-container.active {
  background: rgba(231, 221, 221, 0.836);
  box-shadow: 2px 2px 4px gray;
  height: 9vh;
  border-radius: 2px;
  /* background: rgb(255 255 255); */
}

.logo {
  font-family: "Acme", sans-serif;
  font-size: 1.8rem;
  color: #55198b;
  cursor: pointer;
}

.link {
  list-style-type: none;
  float: left;
}

.nav-links .anchor {
  display: inline-block;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 9.1vh;
  margin: 0.8rem;
}

.nav-links .anchor:hover {
  color: #55198b;
}

.anchor.active {
  color: #55198b;
  font-weight: 800;
  border-bottom: 2px solid #55198b;
}

/* Home */
.home-container {
  font-family: "Exo 2", sans-serif;
  display: flex;
  color: white;
  flex-direction: row;
  background-color: rgb(29, 27, 27);
  height: 100%;
  padding: 1rem;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.content-container {
  width: 50vw;
  height: 100%;
  flex-direction: column;
  display: flex;
  padding: 1.8rem;
  justify-content: center;
}

.main-content {
  font-size: 3rem;
}

.skill-content {
  margin: 0.6rem 0;
  color: #01ffbbdc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  font-weight: 400;
  font-size: 1.6rem;
}

.skill-animation {
  height: 60px;
  width: 100%;
}

.hand {
  display: inline-block;
  margin: 0.9rem;
  cursor: pointer;
}

.welcome-content {
  color: gray;
}

.svg-container {
  margin-top: 1.5rem;
  width: 50vw;
  height: 36rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  height: 75%;
}

/* Services */

.services-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  font-family: "Exo 2", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  padding: 2rem;
}
.services-container {
  margin-top: 8rem;
}

.services-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 4rem;
  height: 30vh;
  flex-direction: row;
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  text-align: center;
  background: #e7dddd5c;

  margin: 1rem;
  box-shadow: 6px 6px 10px gray;
  height: 9rem;
  border-radius: 20px;
  padding: 3rem;
  text-align: center;
}

.services:hover {
  border: 1px solid gray;
}

.services img {
  height: 3.7rem;
}

.services li {
  list-style-type: none;
  font-family: "Acme", sans-serif;
  font-size: 1.2rem;
}

/* Skills */

.skills-container {
  font-family: "Exo 2", sans-serif;
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
}

.skills-container h1 {
  margin: 2rem 0;
}

.techs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background: #e7dddd5c;

  box-shadow: 6px 6px 20px gray;
  min-height: 12rem;
  border-radius: 20px;
  padding: 3rem;
  flex-wrap: wrap;
  margin: 2rem;
  text-align: center;
}

.techs:hover {
  border: 1px solid gray;
}

.techs i {
  margin: 1.1rem;
  font-size: 4.8rem;
}

.techs li {
  list-style-type: none;
  font-family: "Acme", sans-serif;
  font-size: 1.2rem;
}

.techs .html {
  color: rgb(204 78 29);
}

.techs .css {
  color: #5898dc;
}

.techs .javascript {
  color: #ecec1c;
}

.techs .bootstrap {
  color: #9300ff;
}

.techs .sass {
  color: #c300ff;
}

.techs .react {
  color: #29c2ff;
}

.techs .typescript {
  color: #042f67;
}

.techs .python {
  color: #82e1ff;
}

/* Portfolio */
.portfolio-container {
  font-family: "Exo 2", sans-serif;
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
}

.portfolio-container h1 {
  margin: 3rem 0;
}

.projects-container {
  min-height: 60vh;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.projects {
  height: 23rem;
  /* border: 1px solid black; */
  width: 21rem;
  margin: 1rem;
  background: #e7dddd5c;
  box-shadow: 7px 7px 10px gray;
  cursor: pointer;
  border-radius: 10px;
}

.project-images {
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #55198b;
  height: 70%;
  /* border: 1px solid black; */
}

/* Images */
#coronaTracker {
  background-image: url("./images/covid.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#shoeStore {
  background-image: url("./images/nike.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#quizApp {
  background-image: url("./images/quiz.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#expenseTracker {
  background-image: url("./images/expense.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#matiari {
  background-image: url("./images/matiari.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.project-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.project-links .text {
  /* border: 1px solid black; */
  width: 100%;
  height: 50%;
  color: #55198b;
  font-family: "Acme", sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-links .icons {
  /* border: 1px solid black; */
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons #github {
  background-color: rgb(51, 51, 51);
}

.icons #github:hover {
  background-color: rgb(15, 15, 15);
}

.icons #live {
  background-color: rgb(16, 88, 16);
}

.icons #live:hover {
  background-color: rgb(16, 65, 88);
}

.icons i {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  position: relative;
  text-align: center;
  user-select: none;
  width: 2.6rem;
  border-radius: 2.6rem;
  margin: 0px 5px 10px;
  transition: all 0.2s ease-in 0s;
}

/* Achievements */
.achievements-container {
  font-family: "Exo 2", sans-serif;
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
}

/* Images */
#reactBasic {
  background-image: url("./images/certificates/ReactBasic\(HackerRank\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

#html5 {
  background-image: url("./images/certificates/html5.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#git {
  background-image: url("./images/certificates/Git.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#ciscoPython {
  background-image: url("./images/certificates/PCAP\ \(Certified\ Associate\ in\ Python\ Programming\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

#specPython {
  background-image: url("./images/certificates/specialization.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Contact */
.contact-container {
  font-family: "Exo 2", sans-serif;
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}

.profile-image {
  margin: 1rem;
  box-shadow: 6px 6px 10px gray;
  width: 170px;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url("./images/junaid.png");
  background-size: cover;
  height: 170px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.cards {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  box-shadow: 5px 5px 14px gray;
  border-radius: 20px;
  flex-direction: column;
  width: 16rem;
  background: #e7dddd5c;
  height: 9rem;
  margin: 1rem;
  padding: 1.3rem 0;
}

.cards:hover {
  border: 1px solid gray;
}

.contact-icons {
  display: flex;
  align-items: center;
  width: 100%;
  height: 33.33%;
  text-align: center;
  justify-content: center;
}

.contact-text {
  display: flex;
  margin-top: 0.7rem;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  height: 33.33%;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

.contact-links {
  margin-top: 0.7rem;
  display: flex;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  width: 90%;
  height: 33.33%;
  align-items: center;
  justify-content: center;
}

.contact-links > span {
  display: block;
}

.contact-links i {
  cursor: pointer;
  margin: 0.3rem;
  display: block;
  font-size: 1.3rem;
  position: relative;
  text-align: center;

  padding: 0.1rem;

  user-select: none;
}

.contact-links a {
  text-decoration: none;
}

.contact-links i:hover {
  box-shadow: 2px 2px 4px gray;

  border-radius: 20%;
}

.contact-links #github {
  color: rgba(0, 0, 0, 0.884);
}

.contact-links:hover #github {
  color: rgb(0, 0, 0);
}

.contact-links #facebook {
  color: rgba(28, 28, 231, 0.938);
}

.contact-links:hover #facebook {
  color: rgb(28, 28, 231);
}

.contact-links #instagram {
  color: rgba(214, 84, 45, 0.89);
}

.contact-links:hover #instagram {
  color: rgb(214, 84, 45);
}

.contact-links #linkedin {
  color: #3d8eb7ea;
}

.contact-links:hover #linkedin {
  color: #3d8eb7;
}

.contact-links #twitter {
  color: #00b7fff1;
}

.contact-links:hover #twitter {
  color: #00b7ff;
}

.contact-icons i {
  color: #f35166;
  cursor: pointer;
  font-size: 1.7rem;
  position: relative;
  user-select: none;
  transition: all 0.2s ease-in 0s;
}

/* Footer */
.footer-container {
  font-family: "Exo 2", sans-serif;
  display: flex;
  color: white;
  font-size: 0.7rem;
  background: rgb(58, 55, 55);
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 8vh;
}

.footer-container a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  color: #9300ff;
  text-shadow: 1px 1px 1px black;
}

.footer-container a:hover {
  color: #5bbd22c5;
}

/* General */

.button:hover {
  background-color: #fff;
  color: #55198b;
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}

.button-link {
  text-decoration: none;
}

.button {
  background-color: #55198b;
  border: 1px solid #55198b;
  color: #fff;

  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  outline: none;
  margin-top: 3.6rem;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-shadow: 1px 1px 5px gray;
  margin: 2rem 0;
  color: #55198b;
}

/* Media Queries */
/* 1150 Breakpoint */
@media screen and (max-width: 1150px) {
  .home-container {
    flex-direction: column;
  }
  .content-container {
    padding-top: 5rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .svg-container {
    width: 100vw;
  }
}

/* 760 Nav */
